{
  "name": "{{.user}}-{{.pct_name}}",
  "version": "{{.dsc_module.version}}",
  "author": "{{.user}}",
  "summary": "{{.dsc_module.summary}}",
  "license": "{{.dsc_module.license}}",
  "source": "https://github.com/{{.dsc_module.author}}/{{.pct_name}}",
  "dependencies": [
{{- range $i, $d := .dsc_module.dependencies -}}
    {{ if $i}},{{end }}
    {
      "name": "{{$d.name}}",
      "version_requirement": "{{$d.version_requirement}}"
    }
{{- end}}
  ],
  "requirements": [
{{- range $i, $r := .dsc_module.requirements -}}
    {{ if $i}},{{end }}
    {
      "name": "{{$r.name}}",
      "version_requirement": "{{$r.version_requirement}}"
    }
{{- end}}
  ],
  "operatingsystem_support": [
{{- range $i, $o := .dsc_module.operatingsystem_support -}}
    {{ if $i}},{{end }}
    {
      "operatingsystem": "{{$o.operatingsystem}}",
      "operatingsystemrelease": [
      {{- range $i, $rel := $o.release -}}
        {{- if $i}},{{end -}}
        "{{$rel}}"
      {{- end}}]
    }
{{- end}}
  ],
  "pdk-version": "{{.pdk.version}}-{{.pdk.commit_hash}}",
  "template-url": "{{.template.url}}",
  "template-ref": "{{.template.version}}"
}
